* {
    letter-spacing: 2.4px;
}

.application {
    background: #F0EFF2;
    width: 100%;
    height: clamp(1200px, 100vw, 1500px);
    padding-top: 170px;
    display: flex;
    justify-content: center;
}

.application_inner {
    width: 60%;
}

.ttl {
    border-left: 8px solid #000;
    width: 100%;
}

.ttl_content {
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 2%;
}

.content {
    margin-top: 65px;
    padding-bottom: 30%;
}

.tab_item {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    display:inline-block;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
}

input[name="tab_item"] {
    display: none;
}

.tab_content {
    border-top: 1px solid #000;
    padding-top: 45px;
    display: none;
}

#waiting:checked~#waiting_content,
#approved:checked~#approved_content {
    display: block;
}

.content input:checked+.tab_item {
    color: #000;
    font-size: 16px;
    font-weight: 700;
    height: 50px;
}

.waiting_content-table {}

.waiting_content-table > div:last-child {
    border: 1px solid #E1E1E1;
    border-radius: 0 0 10px 10px;
}

.approved_content-table {}

.approved_content-table>div:last-child {
    border: 1px solid #E1E1E1;
    border-radius: 0 0 10px 10px;
}

.content_headers {
    padding-left: 7%;
    display: flex;
    justify-content: space-between;
    background: #FFF;
    width: 100%;
    border: 1px solid #E1E1E1;
    border-bottom: 2px solid #E1E1E1;
    border-radius: 10px 10px 0 0;
    aspect-ratio: 18.4/1;
    align-items: center;
}

.table_content-small {
    width: 14%;
    color: #737373;
    font-size: 16px;
    font-weight: 700;
}

.table_content {
    color: #737373;
    font-size: 16px;
    font-weight: 700;
    width: 17%;
}

.content_information {
    padding-left: 7%;
    display: flex;
    background: #FFF;
    width: 100%;
    border: 1px solid #E1E1E1;
    aspect-ratio: 18.4/1;
    align-items: center;
    justify-content: space-between;
}

.detail_link {
    color: #000;
    font-size: 16px;
    font-weight: 700;
}

/* Responsive style */
@media screen and (max-width: 860px) {

    .application_inner {
        width: 70%;
    }

    .content_headers {
        padding-left: 2%;
    }

    .content_information {
        padding-left: 2%;
    }

    .table_content-small {
        font-size: 13px;
        width: 12%;
    }

    .table_content {
        font-size: 13px;
        width: 20%;
    }

    .detail_link {
        font-size: 13px;
    }
}
